/* Establecer estilos base */
@tailwind base;
@tailwind components;
@tailwind utilities;


.color1 {
    background-color: #272d4d;
  }
  .color2 {
    background-color: #b83564;
  }
  .color3 {
    background-color: #ff6a5a;
  }
  .color4 {
    background-color: #ffb350;
  }
  .color5 {
    background-color: #83b8aa;
  }
  